.continue-btn {
  padding: 17px 100px;
  border-radius: 10px;
  background: #1865f2;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  border: none;
  display: inline-block;
  margin-top: 25px;
}
.modal-box-body {
  color: #1865f2;
}
#parent-modal-description {
  color: rgba(0, 0, 0, 0.7);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 20px */
}
.modal-done__icon {
  width: 80px;
  height: 80px;
  display: inline-block;
  margin-bottom: 25px;
}
#parent-modal-title {
  font-family: "Inter", sans-serif;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 39px */
  letter-spacing: -0.3px;
}
